.main-card {
    display: $flex;
    flex-direction: column;
    width: 571px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 6px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    margin-top: 24px;

    .card-icons {
      border-top: 1px solid #333333;
      margin-top: 16px;
      display: $flex;
      justify-content: space-around;
  
      padding-top: 18px;

      .icon-1 {
        width: 22px;
        height: 24px;
      }

      .icon-2,
      .icon-3 {
        width: 18px;
        height: 20px;
      }

      .icon-4 {
        width: 18px;
        height: 24px;
      }
    }

    .card-1 {
      display: $flex;
      img {
        width: 132px;
        height: 157px;
        /* UI Properties */
        background: transparent url("img/imageMask.png") 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }

      .content1 {
        margin-left: 16px;
    
        width: 450px;

        .card-heading {
          display: $flex;
          justify-content: space-between;
          /* width: 400px; */

          img {
            width: 20px;
            height: 24px;
          }

          #acceleration,
          #displacement,
          #biology,
          #maths {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        .bio {
          overflow: hidden;
          font-weight: bold;
          text-overflow: ellipsis;
          width: 347px;
          height: 40px;
        }

        .info {
          margin-top: 8px;
          margin-bottom: 0;

          .num {
            color: #1f7a54;
          }
        }

        .units {
          margin-top: 5px;
          margin-bottom: 0;
        }

        #teacher {
          /* width: 375px; */
      
          display: $flex;
          justify-content: space-between;
          margin-top: 10px;
      
          margin-bottom: 0;
          font-size: 16px;
          color: #222222;

          img {
            width: 15px;
            height: 24px;
          }

          .teacher-name {
            text-align: left;
            font: normal normal medium 16px/20px Quicksand;
            letter-spacing: 0px;
            color: #222222;
            opacity: 1;
          }
        }

        .date {
          margin-top: 8px;
          font-size: 15px;
          /* UI Properties */
          text-align: left;
          font-size: 12px;
          letter-spacing: 0px;
          color: #666666;
          opacity: 1;
        }

      }

    }
   
  }