.nav-bar {
    /* width: 768px; */
    display: $flex;
    justify-content: start;
    align-items: center;
    height: 56px;
    background-color: #25313f;
    padding-left: 25px;
    padding-top: 11px;
    padding-right: 25px;

    .logo {
      width: 129px;
      height: 33px;
    }


    .menu
    {
      display: $flex;
      margin-left: auto;
      height: 56px;
      

      li{
        color: #3fd28b;
        margin-right: 32px;
        display: $flex;
        justify-content: center;
        align-items: center;
      }

      .dashboard {
        height: 56px;
        display: $flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        box-sizing: border-box;
        border-bottom: 4px solid #ffffff;
      }
    }


    .icons-container {
      max-height: 56px;
      display: $flex;
      justify-content: center;
      align-items: center;

      .alert {
        margin-right: 32px;
        width: 21px;
        max-height: 24px;
        position: relative;

       
      }

      .announcements {
        width: 20px;
        max-height: 20px;
        position: relative;
      }

      .hamburger {
        display: none;
      }
    }
  }