.nav-bar {
    /* width: 768px; */
    display: $flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #25313f;
    padding-left: 25px;
    padding-top: 11px;
    padding-right: 25px;

  .menu{
    display: none;
    
   
  }

    .icons-container {
      display: $flex;
      height:56px;
      margin-top: 0;
      justify-content: space-between;
      align-items: center;

    
        .announcements {
          display: $flex;
          align-items: center;
          margin-left: 20px;
          margin-right: 20px;
          width: 20px;
          height: 56px;
          position: relative;

          .announce-img{
            width: 20px;
            max-height: 20px;
          }

        }

        .alert{

          display: $flex;
          align-items: center;
          width: 21px;
          height: 56px;
          position: relative;

          .alert-img{
            width: 21px;
            max-height: 24px;
          }

        }

        .hamburger{
          width: 20px;
          max-height: 20px;
          position: relative;
        }
    }

  }