body {
  background: #eeeeee;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

hr {
  /* background-color: #333333; */
  margin-top: 0;
}

/* For screen sizes 768 to 1024 px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-bar {
    /* width: 768px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    background-color: #25313f;
    padding-left: 25px;
    padding-top: 11px;
    padding-right: 25px;
  }
  .nav-bar .menu {
    display: none;
  }
  .nav-bar .icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .icons-container .announcements {
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    max-height: 20px;
    position: relative;
  }
  .nav-bar .icons-container .alert {
    width: 21px;
    max-height: 24px;
    position: relative;
  }
  .nav-bar .icons-container .hamburger {
    width: 20px;
    max-height: 20px;
    position: relative;
  }
  .start-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 720px;
    height: 64px;
    /* UI Properties */
    background: #8ddc97 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
  .start-box .course-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    width: 360px;
    height: 64px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 4px solid #222222;
  }
  .start-box .course-box .courses {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }
  .start-box .course-box .courses-img {
    width: 21px;
    height: 32px;
    /* UI Properties */
    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }
  .start-box .classes-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    width: 360px;
    height: 64px;
  }
  .start-box .classes-box .classes-img {
    width: 29px;
    height: 32px;
    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }
  .start-box .classes-box .classes {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }
  .filter {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .filter .course-selector {
    margin-left: 6px;
    height: 28px;
    width: 253px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .filter .course-selector #course-name {
    width: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 6px;
    font-size: 16px;
    border-bottom: 1px solid #666666;
  }
  .filter .course-selector #course-name img {
    width: 10px;
    height: 24px;
  }
  .filter .course-selector .label {
    height: 15px;
    width: 45px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/16px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }
  .filter p {
    height: 15px;
    width: 132px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/14px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }
  .underline {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 571px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 6px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    margin-top: 24px;
  }
  .main-card .card-icons {
    border-top: 1px solid #333333;
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 18px;
  }
  .main-card .card-icons .icon-1 {
    width: 22px;
    height: 24px;
  }
  .main-card .card-icons .icon-2,
  .main-card .card-icons .icon-3 {
    width: 18px;
    height: 20px;
  }
  .main-card .card-icons .icon-4 {
    width: 18px;
    height: 24px;
  }
  .main-card .card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-card .card-1 img {
    width: 132px;
    height: 157px;
    /* UI Properties */
    background: transparent url("img/imageMask.png") 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
  .main-card .card-1 .content1 {
    margin-left: 16px;
    width: 450px;
  }
  .main-card .card-1 .content1 .card-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* width: 400px; */
  }
  .main-card .card-1 .content1 .card-heading img {
    width: 20px;
    height: 24px;
  }
  .main-card .card-1 .content1 .card-heading #acceleration,
  .main-card .card-1 .content1 .card-heading #displacement,
  .main-card .card-1 .content1 .card-heading #biology,
  .main-card .card-1 .content1 .card-heading #maths {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-card .card-1 .content1 .bio {
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 347px;
    height: 40px;
  }
  .main-card .card-1 .content1 .info {
    margin-top: 8px;
    margin-bottom: 0;
  }
  .main-card .card-1 .content1 .info .num {
    color: #1f7a54;
  }
  .main-card .card-1 .content1 .units {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .main-card .card-1 .content1 #teacher {
    /* width: 375px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: #222222;
  }
  .main-card .card-1 .content1 #teacher img {
    width: 15px;
    height: 24px;
  }
  .main-card .card-1 .content1 #teacher .teacher-name {
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
  }
  .main-card .card-1 .content1 .date {
    margin-top: 8px;
    font-size: 15px;
    /* UI Properties */
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
  }
  .reach {
    color: #1f7a54;
    width: 140px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* height: 40px; */
    margin-top: 16px;
    /* UI Properties */
    background: #e0e1e1 0% 0% no-repeat padding-box;
    color: #616161;
    opacity: 1;
    margin-left: 0;
    margin-top: 8px;
  }
  footer img {
    width: 86.6px;
    height: 19px;
    /* UI Properties */
    opacity: 1;
    margin-bottom: 0;
    /* margin-top: 10px; */
    margin-right: 16px;
  }
  footer .copyright .dash {
    margin-right: 16px;
  }
}

/* This is for screen sizes above 1024 */
@media only screen and (min-width: 1025px) {
  .nav-bar {
    /* width: 768px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    background-color: #25313f;
    padding-left: 25px;
    padding-top: 11px;
    padding-right: 25px;
  }
  .nav-bar .logo {
    width: 129px;
    height: 33px;
  }
  .nav-bar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    height: 56px;
  }
  .nav-bar .menu li {
    color: #3fd28b;
    margin-right: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .menu .dashboard {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 4px solid #ffffff;
  }
  .nav-bar .icons-container {
    max-height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .icons-container .alert {
    margin-right: 32px;
    width: 21px;
    max-height: 24px;
    position: relative;
  }
  .nav-bar .icons-container .announcements {
    width: 20px;
    max-height: 20px;
    position: relative;
  }
  .nav-bar .icons-container .hamburger {
    display: none;
  }
  .start-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 976px;
    height: 64px;
    /* UI Properties */
    background: #8ddc97 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
  .start-box .course-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    width: 488px;
    height: 64px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 4px solid #222222;
  }
  .start-box .course-box .courses {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }
  .start-box .course-box .courses-img {
    width: 21px;
    height: 32px;
    /* UI Properties */
    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }
  .start-box .classes-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    width: 488px;
    height: 64px;
  }
  .start-box .classes-box .classes-img {
    width: 29px;
    height: 32px;
    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }
  .start-box .classes-box .classes {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }
  .filter {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 976px;
    margin-left: auto;
    margin-right: auto;
  }
  .filter .course-selector {
    margin-left: 6px;
    height: 28px;
    width: 253px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .filter .course-selector #course-name {
    width: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 6px;
    font-size: 16px;
    border-bottom: 1px solid #666666;
  }
  .filter .course-selector #course-name img {
    width: 15px;
    height: 24px;
  }
  .filter .course-selector .label {
    height: 15px;
    width: 45px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/16px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }
  .filter p {
    height: 15px;
    width: 132px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/14px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }
  .underline {
    width: 976px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container {
    width: 976px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 24px;
    margin-top: 16px;
  }
  .main-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
  .main-card .card-icons {
    border-top: 1px solid #333333;
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 18px;
  }
  .main-card .card-icons .icon-1 {
    width: 22px;
    height: 24px;
  }
  .main-card .card-icons .icon-2,
  .main-card .card-icons .icon-3 {
    width: 18px;
    height: 20px;
  }
  .main-card .card-icons .icon-4 {
    width: 18px;
    height: 24px;
  }
  .main-card .card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 157px;
  }
  .main-card .card-1 img {
    width: 132px;
    height: 157px;
    /* UI Properties */
    background: transparent url("img/imageMask.png") 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
  .main-card .card-1 .content1 {
    margin-left: 16px;
    width: 280px;
  }
  .main-card .card-1 .content1 .card-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* width: 400px; */
  }
  .main-card .card-1 .content1 .card-heading img {
    width: 20px;
    height: 24px;
  }
  .main-card .card-1 .content1 .card-heading #acceleration,
  .main-card .card-1 .content1 .card-heading #displacement,
  .main-card .card-1 .content1 .card-heading #biology,
  .main-card .card-1 .content1 .card-heading #maths {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-card .card-1 .content1 .card-heading #acceleration {
    width: 94px;
    height: 20px;
  }
  .main-card .card-1 .content1 .card-heading #displacement {
    width: 250px;
  }
  .main-card .card-1 .content1 .card-heading .bio {
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 260px;
    height: 43px;
  }
  .main-card .card-1 .content1 .info {
    margin-top: 7px;
    margin-bottom: 0;
    height: 15px;
  }
  .main-card .card-1 .content1 .info .num {
    color: #1f7a54;
  }
  .main-card .card-1 .content1 .units {
    margin-top: 8px;
    margin-bottom: 0;
    height: 15px;
  }
  .main-card .card-1 .content1 #teacher {
    /* width: 375px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: #222222;
  }
  .main-card .card-1 .content1 #teacher img {
    width: 15px;
    height: 24px;
  }
  .main-card .card-1 .content1 #teacher .teacher-name {
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
  }
  .main-card .card-1 .content1 .date {
    margin-top: 0;
    font-size: 12px;
    font: normal normal medium 12px/16px Quicksand;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
  }
  .reach {
    color: #1f7a54;
    width: 140px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 768px; */
    /* height: 40px; */
    margin-top: 16px;
    /* UI Properties */
    background: #e0e1e1 0% 0% no-repeat padding-box;
    color: #616161;
    opacity: 1;
    margin-left: 0;
    margin-top: 8px;
  }
  footer img {
    width: 86.6px;
    height: 19px;
    /* UI Properties */
    opacity: 1;
    margin-bottom: 0;
    /* margin-top: 10px; */
    margin-right: 16px;
  }
  footer .copyright .dash {
    margin-right: 16px;
  }
}
/*# sourceMappingURL=quantumDashboard.css.map */