/* For screen sizes 768 to 1024 px */

body {
  background: #eeeeee;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

hr {
  /* background-color: #333333; */
  margin-top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-bar {
    /* width: 768px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #25313f;
    padding-left: 25px;
    padding-top: 11px;
    padding-right: 25px;
  }

  .navbar .logo {
    width: 129px;
    height: 23px;
  }

  .nav-bar .icons-container {
    display: flex;

    margin-top: 0;
  }

  .nav-bar .icons-container span {
    display: none;
  }

  .nav-bar .icons-container .announcements {
    margin-left: 20px;
    margin-right: 20px;
  }

  .start-box {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 720px;
    height: 64px;
    /* UI Properties */
    background: #8ddc97 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }

  .start-box .course-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 360px;
    height: 64px;
    box-sizing: border-box;
    border-bottom: 4px solid #222222;
  }

  .start-box .course-box .courses {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }

  .start-box .course-box .courses-img {
    width: 21px;
    height: 32px;
    /* UI Properties */

    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }

  .start-box .classes-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 360px;
    height: 64px;
  }

  .start-box .classes-box .classes-img {
    width: 29px;
    height: 32px;
    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }

  .start-box .classes-box .classes {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }

  .filter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter .course-selector {
    margin-left: 6px;
    height: 28px;
    width: 253px;
    display: flex;
    justify-content: end;
  }

  .filter .course-selector #course-name {
    width: 156px;
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    font-size: 16px;
    border-bottom: 1px solid #666666;
  }

  .filter .course-selector #course-name img {
    width: 10px;
    height: 24px;
  }

  .filter p {
    height: 15px;
    width: 132px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/14px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }

  .underline {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter .course-selector .label {
    height: 15px;
    width: 45px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/16px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }

  .main-card {
    display: flex;
    flex-direction: column;
    width: 571px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 6px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    margin-top: 24px;
  }

  .card-1 {
    display: flex;
  }

  .card-1 img {
    width: 132px;
    height: 157px;
    /* UI Properties */
    background: transparent url("img/imageMask.png") 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }

  .card-1 .content1 {
    margin-left: 16px;

    width: 450px;
  }

  .card-1 .content1 .card-heading {
    display: flex;
    justify-content: space-between;
    /* width: 400px; */
  }

  .card-1 .content1 .card-heading img {
    width: 20px;
    height: 24px;
  }

  .card-1 .content1 .card-heading #acceleration,
  #displacement,
  #biology,
  #maths {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-1 .content1 .bio {
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 347px;
    height: 40px;
  }

  .card-1 .content1 .info {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .card-1 .content1 .info .num {
    color: #1f7a54;
  }

  .card-1 .content1 .units {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .card-1 .content1 #teacher {
    /* width: 375px; */

    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    margin-bottom: 0;
    font-size: 16px;
    color: #222222;
  }

  .card-1 .content1 #teacher img {
    width: 15px;
    height: 24px;
  }

  .card-1 .content1 #teacher .teacher-name {
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
  }

  .card-1 .content1 .date {
    margin-top: 8px;
    font-size: 15px;
    /* UI Properties */
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
  }

  .main-card .card-icons {
    border-top: 1px solid #333333;
    margin-top: 16px;
    display: flex;
    justify-content: space-around;

    padding-top: 18px;
  }

  .card-1 .card-icons .icon-1 {
    width: 22px;
    height: 24px;
  }

  .card-1 .card-icons .icon-2,
  .icon-3 {
    width: 18px;
    height: 20px;
  }

  .card-1 .card-icons .icon-4 {
    width: 18px;
    height: 24px;
  }

  .reach {
    color: #1f7a54;
    width: 140px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 40px; */
    margin-top: 16px;
    /* UI Properties */
    background: #e0e1e1 0% 0% no-repeat padding-box;
    color: #616161;
    opacity: 1;
    margin-left: 0;
    margin-top: 8px;
  }

  footer img {
    width: 86.6px;
    height: 19px;
    /* UI Properties */
    opacity: 1;
    margin-bottom: 0;
    /* margin-top: 10px; */
    margin-right: 16px;
  }

  footer .copyright .dash {
    margin-right: 16px;
  }
}

/* This is for screen sizes above 1024 */

@media only screen and (min-width: 1025px) {
  .nav-bar {
    /* width: 768px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #25313f;
    padding-left: 25px;
    padding-top: 11px;
    padding-right: 25px;
  }

  .navbar .logo {
    width: 129px;
    height: 23px;
  }

  .nav-bar .icons-container {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 8px; */
  }

  .nav-bar .icons-container span {
    color: #3fd28b;
    margin-right: 32px;

    /* height: 18px; */
  }

  .nav-bar .icons-container .dashboard {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-sizing: border-box;
    border-bottom: 4px solid #ffffff;
  }

  .nav-bar .icons-container .alert {
    margin-right: 32px;
    width: 21px;
    height: 24px;
  }

  .nav-bar .icons-container .announcements {
    width: 20px;
    height: 20px;
  }

  .nav-bar .icons-container .hamburger {
    display: none;
  }

  .start-box {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 976px;
    height: 64px;
    /* UI Properties */
    background: #8ddc97 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }

  .start-box .course-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 488px;
    height: 64px;
    box-sizing: border-box;
    border-bottom: 4px solid #222222;
  }

  .start-box .course-box .courses {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }

  .start-box .course-box .courses-img {
    width: 21px;
    height: 32px;
    /* UI Properties */

    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }

  .start-box .classes-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 488px;
    height: 64px;
  }

  .start-box .classes-box .classes-img {
    width: 29px;
    height: 32px;
    color: #222222;
    opacity: 1;
    margin-top: 18px;
  }

  .start-box .classes-box .classes {
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    margin-left: 6px;
    margin-top: 24px;
  }

  .filter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 976px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter .course-selector {
    margin-left: 6px;
    height: 28px;
    width: 253px;
    display: flex;
    justify-content: end;
  }

  .filter .course-selector #course-name {
    width: 156px;
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    font-size: 16px;
    border-bottom: 1px solid #666666;
  }

  .filter .course-selector #course-name img {
    width: 15px;
    height: 24px;
  }

  .filter p {
    height: 15px;
    width: 132px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/14px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }

  .filter .course-selector .label {
    height: 15px;
    width: 45px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 12px/16px Quicksand;
    font-size: 12px;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
  }
  .underline {
    width: 976px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    width: 976px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-top: 16px;
  }

  .main-card {
    display: flex;
    flex-direction: column;
    /* width: 571px; */
    /* margin-left: auto;
    margin-right: auto; */
    padding: 24px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    /* margin-top: 24px; */
  }

  .card-1 {
    display: flex;
    height: 157px;
  }

  .card-1 img {
    width: 132px;
    height: 157px;
    /* UI Properties */
    background: transparent url("img/imageMask.png") 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }

  .card-1 .content1 {
    margin-left: 16px;
    width: 280px;
  }

  .card-1 .content1 .card-heading {
    display: flex;
    justify-content: space-between;
    /* width: 400px; */
  }

  .card-1 .content1 .card-heading img {
    width: 20px;
    height: 24px;
  }

  .card-1 .content1 .card-heading #acceleration,
  #displacement,
  #biology,
  #maths {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-1 .content1 #acceleration {
    width: 94px;
    height: 20px;
  }

  .card-1 .content1 .card-heading #displacement {
    width: 250px;
  }

  .card-1 .content1 .bio {
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 260px;
height: 43px;
  }

  .card-1 .content1 .info {
    margin-top: 7px;
    margin-bottom: 0;

    height: 15px;
  }

  .card-1 .content1 .info .num {
    color: #1f7a54;
  }

  .card-1 .content1 .units {
    margin-top: 8px;
    margin-bottom: 0;
    height: 15px;
  }

  .card-1 .content1 #teacher {
    /* width: 375px; */

    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    margin-bottom: 0;
    font-size: 16px;
    color: #222222;
  }

  .card-1 .content1 #teacher img {
    width: 15px;
    height: 24px;
  }

  .card-1 .content1 #teacher .teacher-name {
    text-align: left;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
  }

  .card-1 .content1 .date {
    margin-top: 0;
    font-size: 12px;
    font: normal normal medium 12px/16px Quicksand;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
  }

  .main-card .card-icons {
    border-top: 1px solid #333333;
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
  }

  .card-1 .card-icons .icon-1 {
    width: 22px;
    height: 24px;
  }

  .card-1 .card-icons .icon-2,
  .icon-3 {
    width: 18px;
    height: 20px;
  }

  .card-1 .card-icons .icon-4 {
    width: 18px;
    height: 24px;
  }

  .reach {
    color: #1f7a54;
    width: 140px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 768px; */
    /* height: 40px; */
    margin-top: 16px;
    /* UI Properties */
    background: #e0e1e1 0% 0% no-repeat padding-box;
    color: #616161;
    opacity: 1;
    margin-left: 0;
    margin-top: 8px;
  }

  footer img {
    width: 86.6px;
    height: 19px;
    /* UI Properties */
    opacity: 1;
    margin-bottom: 0;
    /* margin-top: 10px; */
    margin-right: 16px;
  }

  footer .copyright .dash {
    margin-right: 16px;
  }
}
