
.announce-items {
  width: 315px;
  height: 582px;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  top: 56px;
  background: #FFFFEE 0% 0% no-repeat padding-box;
  overflow-y: scroll;
  display: flex; 
  flex-direction: column; 
  position: absolute;
  right: 0;
  z-index: 1;
}

.announce-items .list{
  
height: 114px;
padding: 16px;
border-bottom: 1px solid #2222221F;
}

.announce-items .list .items{
  width: 253px;
height: 36px;
text-align: left;
font-size: 14px;
font-weight: bold;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}

.announce-items .list .course{
  width: 138px;
height: 15px;
/* UI Properties */
text-align: left;
font-size: 12px;
letter-spacing: 0px;
color: #6E6E6E;
opacity: 1;
margin-top: 8px;
}

.announce-items .list .details{
  display:flex;
  justify-content: space-between;
}

.announce-items .list .details .details-content{
  height: 15px;

text-align: right;
font-size: 12px;
letter-spacing: 0px;
color: #6E6E6E;
opacity: 1;
}

.announce-items .list .teacherInfo .name{
  width: 99px;
font-size: 15px;
}

.announce-items .announce-footer{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #0000003D;
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
  height: 48px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #1F7A54;
  
}

.announcements:hover .announce-img{
  filter: brightness(0) invert(1); 
  /* brightness:(0) makes the entire image black and then invert(1) inverts the black color to white */
}

/* .announcements:hover .announce-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 1;
 
} */
